<title>searchpcc | {{ page.title }}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
<link rel="stylesheet" href="/assets/css/solarized-dark.min.css">

